table{
	border-collapse: collapse;
	border:1px solid;
}

td{
border:1px solid;
padding: 20px;	
}

.peligro{
	background-color: orange;
}

.pierde{
	background-color: red;
}

.correcto{
	background-color: palegreen;
}

.moneda{
	background-color: palegreen;
	background-image: url(coin.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
}
