#tabla td{
    width: 15px;
    height: 15px;
}

#tabla, #tabla td{
    border: 1px solid;
}

#tabla{
   float: left; 
}

.rojo, #rojo{
    background-color: red;
}

.amarillo, #amarillo{
    background-color: yellow;
}

.azul, #azul{
    background-color: cyan;
}

.verde, #verde{
    background-color: palegreen;
}

div{
    width: 45px;
    height: 45px;
    float: left;
    margin-left: 10px;
    border: 2px solid;
    margin-bottom: 10px;
}